<div
  class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top"
>

  <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
    <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="'/'" class="p-2" routerLinkActive="active">Home</a>
  </nav>

  <div class="d-flex align-items-center">
    <a *ngIf="!userName" class="btn btn-outline-secondary mr-2" routerLink="/account/login">Login</a>
    <a *ngIf="userName" (click)="logout()" class="btn btn-outline-secondary mr-2">Logout</a>
  </div>
</div>
